body{
    background-color: black;
    color: white;
    margin: 0px;
}

H1, h2{
text-align: center;
}

a{
    color: white;
    text-decoration: none;
}

nav{
    font-size: x-large;
    background-color: indigo;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;

}
nav img {
    width: 150px ;
}

#enlaces{
    display: flex;
    align-items: center ;
}
#enlaces *{
    padding-right: 0.5em ;

}

.planetas{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}
.planeta img{
    width: 250px;
}
